// Este es el codigo de la landing

.content{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.div{
}

#section-1{
	@include bg-covertint($r_deep-blue,$g_deep-blue,$b_deep-blue,$r_light-blue,$g_light-blue,$b_light-blue,$alpha_cover,$cover_picture);
	height: 100vh;
	color: $pure-white;

	h1{
		@include headers;
		margin-bottom: 30px;
	}

	img{
		height: 30vh;
		@include center-horizontal;
	}

	.logo{
		//@include center-horizontal;
		font-size: 50px;
		width: 100%;
		text-align: center;
		color: $pure-white;

		.bold{
			font-weight: $ultra-bold;
		}

		.thin{
			font-weight: $light;
		}
	}

	p{
		margin-top: 20px;
		font-weight: $regular;
		width: 60%;
		text-align: center;
		font-size: 20px;
		@include center-horizontal;
		font-weight: $light;
	}
}

#section-2{
	height: 100vh;
	background-color: $almost-white;
	color: $light-blue;

	.content{
		@include center-vertical;
	}

	h1{
		@include headers;
		margin-top: 0;
		margin-bottom: 40px;
		font-weight: $regular;
	}

	form{
		.form-element{
			display: block;
			input[type=text]{
				border-style: none;
				background: none;
				outline: none;
				border-bottom: solid 2px darken($almost-white,20%);
				font-size: 50px;
				font-weight: $light;
				font-family: 'Lato', sans-serif;
				width: 60%;
				margin-left: 20%;
				text-align: center;
				margin-top: 15px;
				margin-bottom: 30px;
				color: $light-blue;
				transition: all 0.3s ease 0s;
				padding-bottom: 20px;

				&:focus{
					border-bottom: solid 2px $light-blue;
				}
			}
			button{
				font-size: 50px;
				font-weight: $light;
				font-family: 'Lato', sans-serif;
				//background: none;
				background: $light-blue;
				border: 1px solid $light-blue;
				color: $pure-white;
				width: 60%;
				outline: none;
				margin-left: 20%;
				margin-top: 30px;
				margin-bottom: 30px;
				transition: all 0.3s ease 0s;
				padding: 20px 20px 20px 20px;

				&:hover{
					background: none;
					//background: $light-blue;
					color: $light-blue;
					border: 1px solid $light-blue;
				}
			}
		}
	}

	@include placeholder(darken($almost-white,20%),$light);
}

#section-3{
	background-color: $light-blue;
	height: 100vh;

	h1{
		@include headers;
		color: $pure-white;
		margin-top: 0;
	}

	.pricing-table{
		width: 100%;
		.price{
			img{
				width: 15%;
			}
			h2{
				font-weight: $regular;
			}
			color: $almost-white;
			text-align: center;
			font-size: 30px;
			width: 30%;
			display: inline-block;
			padding: 20px 20px 20px 20px;

			.description{ 
				font-size: 2vh;
			}

			.money{
				font-weight: $bold;
				font-size: 50px;
			}
			&:first-child{
				border-right: solid 1px $pure-white;
				margin-left: 18%;
			}
		}
	}
}