$deep-blue: #001656;
$r_deep-blue: 0;
$g_deep-blue: 22;
$b_deep-blue: 86;

$light-blue: #4D94FF;
$r_light-blue: 25;
$g_light-blue: 117;
$b_light-blue: 255;

$alpha_cover: .6;

$black: #333333;
$grey: #EAEAEA;
$pure-white: #FFF;
$almost-white: #FAFAFA;

$cover_picture: "../assets/img/cover-picture.png";

$light: 100;
$regular: 300;
$semi-bold: 400;
$bold: 700;
$ultra-bold: 900;
